@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

body {
  font-family: Roboto;
  font-weight: 300;
  padding: 0 24px;
  background: url('https://images7.alphacoders.com/398/398945.jpg');
  background-size: cover;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

p {
  background: linear-gradient(to top right, #ffff00 0%, #ff9933 100%);
  text-align: center;
  min-width: 50px;
  font-weight: bold;
  color: white;
  padding: 15px;
  display: inline-block;
  margin-left: 5px;
  box-shadow: 1px 1px 1px #996633;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.text-color {
  color: white;
}

.link-color {
  color: #ffff00;
  &:hover {
    color: #ff9933;
    text-decoration: none;
  }
}

#input {
  width: 500px;
  text-align: center;
}

.btn {
  margin-left: 32px;
}
